################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BikeShop/v16
/obj/Debug/net5.0
/obj
/bin/Debug/net5.0
/.vs/BikeShop/config
